.rot {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 10px;
    margin: 20px;
  }

.main_div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track{
    border: solid 2px;
    /* margin : 50px; */
    border-radius: 50%;
    position : absolute;
}

.Quizland{
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    border: solid black;
    border-radius: 50%;
}

#out1{
    width: 200px;
    height: 200px;
    /* margin: 0 auto; */
}

#out2{
   height: 150px;
   width: 150px;
   translate: (50px); 
}

.obj{
    width: 20px;
    position: absolute;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    margin: 0px;
}