.rot {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 10px;
    margin: 20px;
  }

.main_div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track{
    border: solid 2px;
    /* margin : 50px; */
    border-radius: 50%;
    position : absolute;
}

.Quizland{
    position: absolute;
}

#qtype0{
    transform: translate(444px, 127px);
}

#qtype1{
    transform: translate(581px, 359px);
}

#qtype2{
    transform: translate(732px, 335px);
}

#qtype3{
    transform: translate(862px, 127px);
}

#qtype4{
    transform: translate(1010px, 262px);
}

#out1{
    width: 200px;
    height: 200px;
    /* margin: 0 auto; */
}

#out2{
   height: 150px;
   width: 150px;
   translate: (50px); 
}

.obj{
    width: 20px;
    position: absolute;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    margin: 0px;
}