.red {
    width: 80px;
    height: 80px;
    background: orangered;
}
.orange {
    width: 60px;
    height: 60px;
    background: orange;
}
.gold {
    width: 45px;
    height: 45px;
    background: gold;
}
.white {
    width: 35px;
    height: 35px;
    background: lightyellow;
}
.flame-wrapper {
    position: relative;
}
.flame {
    bottom: 0;
    position: absolute;
}
.flame {
    bottom: 0;
    position: absolute;
    border-radius: 50% 0% 50% 50%;
}
.orange {
    left:10px;
}
.gold {
    left:18px;
}
.white {
    left:22px;
}
.flame {
    transform: rotate(-45deg);
}
.red {
    box-shadow: 0px 0px 10px 5px orangered;
}
.orange {
    box-shadow: 0px 0px 12px 6px orange;
}
.gold {
    box-shadow: 0px 0px 9px 4px gold;
}
.white {
    box-shadow: 0px 0px 9px 4px lightyellow;
}
.blue {
    box-shadow: 0px 0px 15px 10px darkblue;
}
.black {
    box-shadow: 0px 0px 15px 10px black;
}
.base {
    border-radius: 50%;
    position: absolute;
}
.flame-wrapper {
    animation: flicker 3ms ease-in infinite;
}
