/* ########################## Footer ############################## */
footer{
    background-color: $dark;
    color: #ffffff;
    padding: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.social-media-links{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 20rem;
    i{
        color: #ffffff;
    }
}

.media-link{
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-link, .fab{
    transition: all 0.1s ease-in-out;
}
.fab{
    transform: scale(1.5);
}
.media-link:hover .fab{
    transform: scale(2);
}
