

.navbar{
    z-index: 3;
    border-bottom: 1px solid $grey;
    .nav-item{
        padding: 0 1rem;

        a,a:visited,a:active{
            text-decoration: none;
            
        }
    }
}

.logo{
    position: relative;
    display: flex;
    align-items: center;
    img{
        width: 3.5rem;
    }
}

