
  // .cup {
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   width: 150px;
  //   height: 180px;
  //   border: 6px solid #262626;
  //   border-top: 2px solid transparent;
  //   border-radius: 15px;
  //   border-top-left-radius: 5px;
  //   border-top-right-radius: 5px;
  //   background: url(https://image.ibb.co/fmHm66/wave.png);
  //   background-position: 0px 350px;
  //   background-repeat: repeat-x;
  //   animation: filling 10s ease-in-out infinite;
  //   box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0,0,0,1);
  // }
  
  // @keyframes filling {
  //   50% {background-position: 3000px 0px;}
  //   100% {background-position: 6000px 350px;}
  // }

.cup {
  position: relative;
  background: burlywood;
  border: 6px solid #262626;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 150px;
  height: 180px;
  overflow: hidden;
}
.cup::before{
  content: "FILL";
  font-size: 2rem;
}
.cup::after{
  content: "";
  position:absolute;
  height: 200%; 
  width: 200%;
  bottom: 50%;
  left: -50%;

  background:#f8f8f8;
  border-radius: 45% ;
  animation: spin 30s ease-in-out;
  animation-iteration-count: 1
}
@keyframes spin{
  0%{
    transform: translateY(0) rotate(0deg);
  }
  70%{
    transform: translateY(-100%) rotate(500deg);
  }
}
