body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333446;
}

.card {
  padding: 0 !important;
}

.navbar .nav-item {
  padding: 0 1rem;
}

.navbar .nav-item a, .navbar .nav-item a:visited, .navbar .nav-item a:active {
  text-decoration: none;
}

.logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 3rem;
}

.home-page {
  min-height: 100vh;
}

.home-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.rot {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 10px;
  margin: 20px;
}

.main_div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.track {
  border: solid 2px;
  /* margin : 50px; */
  border-radius: 50%;
  position: absolute;
}

#out1 {
  width: 200px;
  height: 200px;
  /* margin: 0 auto; */
}

#out2 {
  height: 150px;
  width: 150px;
  translate: 50px;
}

.obj {
  width: 20px;
  position: absolute;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.bonding-page {
  min-height: 100vh;
}

.card-header {
  padding: 1rem 0;
}

.img-container img {
  width: 100%;
}

.wrapper {
  width: 100%;
  min-height: 800px;
  position: absolute;
  display: block;
}

.red {
  width: 80px;
  height: 80px;
  background: orangered;
  -webkit-box-shadow: 0px 0px 10px 5px orangered;
          box-shadow: 0px 0px 10px 5px orangered;
}

.orange {
  left: 10px;
  width: 60px;
  height: 60px;
  background: orange;
  -webkit-box-shadow: 0px 0px 12px 6px orange;
          box-shadow: 0px 0px 12px 6px orange;
}

.gold {
  left: 18px;
  width: 45px;
  height: 45px;
  background: gold;
  -webkit-box-shadow: 0px 0px 9px 4px gold;
          box-shadow: 0px 0px 9px 4px gold;
}

.white {
  left: 22px;
  width: 35px;
  height: 35px;
  background: lightyellow;
  -webkit-box-shadow: 0px 0px 9px 4px lightyellow;
          box-shadow: 0px 0px 9px 4px lightyellow;
}

.blue {
  left: 32px;
  width: 15px;
  height: 15px;
  background: darkblue;
  -webkit-box-shadow: 0px 0px 15px 10px darkblue;
          box-shadow: 0px 0px 15px 10px darkblue;
}

.black {
  left: 20px;
  width: 40px;
  height: 40px;
  bottom: -50px;
  background: black;
  -webkit-box-shadow: 0px 0px 15px 10px black;
          box-shadow: 0px 0px 15px 10px black;
}

.base {
  border-radius: 50%;
  position: absolute;
}

.flame-wrapper {
  position: absolute;
  -webkit-animation: flicker 3ms ease-in infinite;
          animation: flicker 3ms ease-in infinite;
  bottom: 0;
  left: 50%;
}

.flame {
  bottom: 0;
  position: absolute;
  border-radius: 50% 0% 50% 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes flicker {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(2deg) scaleY(1.05);
            transform: rotate(2deg) scaleY(1.05);
  }
  40% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  60% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg) scaleY(0.9);
            transform: rotate(-1deg) scaleY(0.9);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

@keyframes flicker {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(2deg) scaleY(1.05);
            transform: rotate(2deg) scaleY(1.05);
  }
  40% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  60% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg) scaleY(0.9);
            transform: rotate(-1deg) scaleY(0.9);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.cup {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 180px;
  border: 6px solid #262626;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url(https://image.ibb.co/fmHm66/wave.png);
  background-position: 0px 350px;
  background-repeat: repeat-x;
  -webkit-animation: filling 10s ease-in-out infinite;
          animation: filling 10s ease-in-out infinite;
  -webkit-box-shadow: 0 0 0 6px #fff, 0 20px 35px black;
          box-shadow: 0 0 0 6px #fff, 0 20px 35px black;
}

@-webkit-keyframes filling {
  50% {
    background-position: 3000px 0px;
  }
  100% {
    background-position: 6000px 350px;
  }
}

@keyframes filling {
  50% {
    background-position: 3000px 0px;
  }
  100% {
    background-position: 6000px 350px;
  }
}

/* ########################## Footer ############################## */
footer {
  background-color: #292b2c;
  color: #ffffff;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-links {
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20rem;
}

.social-media-links i {
  color: #ffffff;
}

.media-link {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-link, .fab {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.fab {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.media-link:hover .fab {
  -webkit-transform: scale(2);
          transform: scale(2);
}
/*# sourceMappingURL=styles.css.map */