body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: gray;
}

.rot {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 10px;
  margin: 20px;
}

.main_div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.track {
  border: solid 2px;
  /* margin : 50px; */
  border-radius: 50%;
  position: absolute;
}

#out1 {
  width: 200px;
  height: 200px;
  /* margin: 0 auto; */
}

#out2 {
  height: 150px;
  width: 150px;
  translate: 50px;
}

.obj {
  width: 20px;
  position: absolute;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.red {
  width: 80px;
  height: 80px;
  background: orangered;
}

.orange {
  width: 60px;
  height: 60px;
  background: orange;
}

.gold {
  width: 45px;
  height: 45px;
  background: gold;
}

.white {
  width: 35px;
  height: 35px;
  background: lightyellow;
}

.flame-wrapper {
  position: relative;
}

.flame {
  bottom: 0;
  position: absolute;
}

.flame {
  bottom: 0;
  position: absolute;
  border-radius: 50% 0% 50% 50%;
}

.orange {
  left: 10px;
}

.gold {
  left: 18px;
}

.white {
  left: 22px;
}

.flame {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.red {
  -webkit-box-shadow: 0px 0px 10px 5px orangered;
          box-shadow: 0px 0px 10px 5px orangered;
}

.orange {
  -webkit-box-shadow: 0px 0px 12px 6px orange;
          box-shadow: 0px 0px 12px 6px orange;
}

.gold {
  -webkit-box-shadow: 0px 0px 9px 4px gold;
          box-shadow: 0px 0px 9px 4px gold;
}

.white {
  -webkit-box-shadow: 0px 0px 9px 4px lightyellow;
          box-shadow: 0px 0px 9px 4px lightyellow;
}

.blue {
  -webkit-box-shadow: 0px 0px 15px 10px darkblue;
          box-shadow: 0px 0px 15px 10px darkblue;
}

.black {
  -webkit-box-shadow: 0px 0px 15px 10px black;
          box-shadow: 0px 0px 15px 10px black;
}

.base {
  border-radius: 50%;
  position: absolute;
}

.flame-wrapper {
  -webkit-animation: flicker 3ms ease-in infinite;
          animation: flicker 3ms ease-in infinite;
}
/*# sourceMappingURL=styles.css.map */