@import "variable";
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary;
}

.card{
    padding: 0 !important;
}


@import 'navbar';
@import "atoms";
@import "dis1";
@import "bonding";
@import "flame";
@import "water";
